// app global css in Stylus form



.width100 {
	width: 100%;
}

.padding16{
	padding: 16px;
}

.padding32{
	padding: 32px;
}

.margin8 {
	margin: 8px;
}

.margin16 {
	margin: 16px;
}

.margin32 {
	margin: 32px;
}

.marginTop8 {
	margin-top: 8px;
}

.marginBottom8 {
	margin-bottom: 8px;
}
.marginLeft8 {
	margin-left: 8px;
}

.marginRight8 {
	margin-right: 8px;
}

.marginTop16 {
	margin-top: 16px;
}

.marginBottom8 {
	margin-bottom: 16px;
}

.marginLeft8 {
	margin-left:  16px;
}

.marginRight8 {
	margin-right:  16px;
}

.marginTop32 {
	margin-top:  32px;
}

.marginBottom32 {
	margin-bottom:   32px;
}

.marginLeft32 {
	margin-left: 32px;
}

.marginRight32 {
	margin-right: 32px;
}

#registro{
  font-family: Arial;
}

#layout{
	background-color: #1D1D1D
}
